html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  height: 100%;
}

.flex {
  display: flex;
}

.center-text {
  justify-content: center;
}

.box {
  align-items: center;
  justify-content: center;
}

.box div {
  width: 50%;
  height: 10em;
  border-width: 0.25em;
  border-color: rgb(233,119,23); /*Lewis-Palmer Orange*/
  border-style: solid;
}


.big-text
{
  font-size: 1.5em;
}

.bold-text {
  font-weight: bold;
}

.vertical-center {
  align-items: center;
}

.horizontal-center {
  justify-content: center; /* Horizontal centering in Flex */
}
